.navbar {
  background-color: gainsboro;
  min-height: 50px;
  flex-direction: row;
}
.img-class {
  height: 30px;
  width: 25%;
  position: absolute;
}
.user-class {
  position: relative;
  margin-left: 90em;
}