.navbar {
  background-color: #f2f2f2;
  min-height: 70px;
  flex-direction: row;
}
.img-class {
  height: 58%;
  width: 20%;
  position: absolute;
}
.user-class {
  position: relative;
  margin-left: 73em ;
}
.user-img {
  height: 3%;
  width: 3%;
}