<nav class="navbar">

  
  <div class="navbar-brand">
    <a class="navbar-item">
      <span>
          <img class="img-class" src="assets/Mobiquity_Logo.png">
      </span>
      <span class="user-class">
        <img class="user-img" src="assets/mlog.png">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin user
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Profile</button>
              <button class="dropdown-item" type="button">Settings</button>
              <button class="dropdown-item" type="button" (click)="onLogout()">Logout</button>
            </div>
      </span>
    </a>
  </div>
</nav>
