.card {
  height: 80%;
  width: 30%;
  margin-left: 36%;
  margin-top: 5%;
  background-color: #f2f2f2;
}
.btn-primary {
  background-color:  #1ad1ff;
  font-size: 20px;
}
.title-cls {
  margin-top: 1%;
  color: #1ad1ff;
}