<div class="card">
  <div class="card-body">
    <form (ngSubmit)="publishTest()" [formGroup]="publishForm">
      <div class="form-group">
        <label for="exampleFormControlInput1">Tester Name</label>
        <input
          type="name"
          class="form-control"
          id="exampleFormControlInput1"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Select Difficulty Level</label>
        <select
          class="form-control"
          id="exampleFormControlSelect1"
          formControlName="difficultyLevel"
        >
          <option>Easy</option>
          <option>Medium</option>
          <option>Tough</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Select Questions File Here</label> <br />
      <input
        type="file"
        style="display: inline-block;"
        (change)="incomingfile($event)"
        placeholder="Upload file"
        accept=".xlsx"
        formControlName="inputFile"
      />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Evaluator Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@mobiquityinc.com"
          formControlName="email"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!publishForm.valid"
      >
        Publish Test
      </button>
    </form>
  </div>
</div>
