.card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
.card-body {
  height: 40%;
  width: 50%;
}
.div-cls {
  margin-left:5%;
}
.card-heading {
  position: absolute;
  margin-left: 10%;
}
.timer {
 position: relative;
 margin-left: 78%;
}
.btn-primary {
  height: 30%;
  width: 20%;
  margin-left: 40%;
  margin-top: 8%;
  margin-bottom: 5%;
  background-color:  #1ad1ff;
  font-size: 20px;
}
.div-que {
  margin-top: 3%;
}
.div-opt {
  margin-top: 5%;
}
.desc-que-btn {
  height: 30%;
  width: 20%;
  margin-left: 40%;
  margin-top: 2%;
  margin-bottom: 1%;
  color: white;
  background-color:  #1ad1ff;
  font-size: 20px;
}
.div-que-sencond {
  margin-top: 3%;
}
.div-opt-second {
  margin-top: 1%;
}