<app-header></app-header>
<div class="card">
  <div class="card-body">
    <h1 class="card-title">Instructions:</h1>
    <form (ngSubmit)="onStartTest()" [formGroup]="instructionsForm">
      <div class="instruction">
        <span
          >1. Test will be of 1 hour. So complete all three sections within
          time.</span
        ><br />
        <span>2. After starting the test timer will get start.</span><br />
        <span>3. Results will be informed you by our team.</span><br />
        <span>4. Select test and start the test.</span>
      </div>
      <div class="btn-group">
        <label
          class="btn btn-secondary active"
          style=" background-color: #f2f2f2; color: black; font-size: 30px"
        >
          <input
            formControlName="options"
            type="radio"
            value="Coding & Descriptive"
            style="color: black"
          />
          1. Coding & Descriptive
        </label>

        <label
          class="btn btn-secondary"
          style=" background-color: #f2f2f2; color: black; font-size: 30px"
        >
          <input type="radio" formControlName="options" value="Scenario" /> 2.
          Scenario
        </label>
        <label
          class="btn btn-secondary"
          style=" background-color: #f2f2f2; color: black; font-size: 30px"
        >
          <input type="radio" value="MCQ" formControlName="options" /> 3. MCQ
        </label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Start Test</button>
      </div>
    </form>
  </div>
</div>
