<div class="card">
  <div class="card-body">
    <h3 class="card-title">Instructions:</h3>
    <div>
      <span>1. Test will be of 1 hour. So complete all three sections within time.</span><br>
      <span>2. After starting the test timer will get start.</span><br>
      <span>3. Results will be informed you by our team.</span><br>
      <span>4. Select test and start the test.</span>
    </div>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-secondary active" style=" background-color: white; color: black">
          <input type="radio" name="options" id="option1" checked style="color: black"> 1. Coding & Descriptive
        </label>

        <label class="btn btn-secondary" style=" background-color: white; color: black">
          <input type="radio" name="options" id="option2"> 2. Scenario
        </label>
        <label class="btn btn-secondary" style=" background-color: white; color: black">
          <input type="radio" name="options" id="option3"> 3. MCQ
        </label>
      </div>
      <div>
        <button
        type="submit"
        class="btn btn-primary"
        (click)="onStartTest()"
      >
        Start Test
      </button>
      </div>
  </div>
</div>